#headerPage #contentPage {
    width: 1280px;
}

#headerPage{
    height: 80px;
    /* background-color: brown; */
}

#contentPage{
    height: 520px;
    /*background-color: cadetblue;*/
}

#viewName{
    width: 640px;
    height: 100px;
    float: left;   
}

#navigationBar{
    width: 620px;
    height: 100px;
    float: left;
}

#navSection{
    float: right;
}

nav{
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
}
