#infoContentPage{
    margin-left: 200px;
    margin-right: 220px;
    margin-top: 80px;
}

ol {
  color: black;
  list-style-type: none;
}

ol li {
  position: relative;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 80px;
}

li p {
  font: 12px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: black;
}

span {
  position: absolute;
}