#leftContent{
    width: 300px;
    float: left;
    height: 520px;
}

#topLeftContent{
    width: 300px;
    float: left;
    height: 260px;
}


#bottonLeftContent{
    width: 300px;
    float: left;
    height: 260px;
}

#centerContent{
    width: 500px;
    float: left;
    height: 520px;
}

#rightContent{
    width: 200px;
    float: left;
    height: 520px;
}

#topRightContent{
    width: 200px;
    float: left;
    height: 260px; 
}


#bottonRightContent{
    width: 200px;
    float: left;
    height: 200px;
}
